doctype html 
html 
    head 
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Mr.Music 
        style 
            include ../static/style.css
    body 
        .container 
            div.title Mr.Music
            div.thumb
            audio(src="../static/audio.mp3" controls)